<h1>Selecciona una Dirección para Crear un Envío</h1>

<table>
  <thead>
    <tr>
      <th>Dirección</th>
      <th>Comuna</th>
      <th>Seleccionar</th>
      <th>Eliminar</th> <!-- Nueva columna para el botón de eliminar -->
    </tr>
  </thead>
  <tbody>
    <% @retiros.each do |retiro| %>
      <tr>
        <td><%= retiro.direccion %></td>
        <td><%= retiro.comuna %></td>
        <td>
          <%= link_to 'Crear Envío', new_envio_path(direccion: retiro.direccion, comuna: retiro.comuna), class: 'btn btn-primary' %>
        </td>
        <td>
          <!-- Botón para eliminar la dirección -->
          <%= link_to 'Eliminar', retiro_path(retiro), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta dirección?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

